.app {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.bolt {
  animation: spin infinite 20s linear;
  cursor: pointer;
  border: solid #ffffff 13px;
  border-radius: 144px;
}
.bolt.spining {
  animation: spin infinite 0.2s linear;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link {
  color: #61dafb;
}

.upgrades {
  margin: 0;
}

.upgrades li {
  list-style-type: none;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
